@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-text-field-wrapper {
  @apply !duration-500 !transition-colors
}

.dark .mat-mdc-text-field-wrapper {
  @apply !bg-slate-400
}

.mat-mdc-form-field-bottom-align::before {
  display: none !important;
}

.cdk-overlay-dark-backdrop {
  @apply !backdrop-blur-sm
}